/* CSS Document */

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #FFF;
}

.main { top:0; margin:auto; background:#fff; width:100%;}

.header {
background:#FFFFFF; margin: 0px 0px 0px 0px;
}

.header_left {
background:#4b3154;  width:20%; float:left; margin: 0px 0px 0px 0px;
}

.header_right {
background:#fcfafc; width:80%; float:right; margin: 0px 0px 0px 0px;
}

.logo_mbank {
margin: 4px 0px 4px 13px; float:left; border:none;
}

.logo {
margin: 3px 13px 4px 15px; float:left; border:none;
}

.companyname1 {
margin: 10px 10px 10px 0px; vertical-align:middle; text-align:center; font-family: 'Roboto Slab', serif; font-size:28px; font-weight:400; color:#fff;
}

.companyname2 {
margin: 10px 10px 0px 10px; vertical-align:middle; text-align:left; font-family: 'Roboto Slab', serif; font-size:16px; font-weight:700; color:#4b3154;
 float:left; width:55%;}

.logoutbar {
float:right; width:15%;
}

.logoutbar_text {
margin: 22px 0px 4px 15px; float:left; border:none; vertical-align:middle; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; font-weight:400; color:#000000;
}
.logoutbar_img {
margin: 15px 13px 4px 0px; float:right; border:none; vertical-align:middle; 
}

.clear { clear:both; }

.contentarea { background:#fff;}

.contentarealeft { background:#583a63; float:left; width:20%; min-height:614px;}

.userbar {background:#684d72; margin: 0px 0px 0px 0px; padding-bottom:5px;}

.userbar_1 {
margin: 15px 0px 0px 15px; float:left;
}

.circular {
	width: 52px;
	height: 52px;
	border-radius: 26px;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px; border:2px solid #fff;
	}

.circular img {
	opacity: 0;
	filter: alpha(opacity=0);
	}

.userbar_2 {
margin: 20px 50px 0px 0px; float:right; color:#fff;  font-family: 'Roboto', serif; font-size:20px; font-weight:400; text-align:left;
}

.userbar_3 {background:#51355b; margin: 15px 4px 5px 4px; padding:0px 25px 0px 25px;}

.userbar_3_img1 {margin: 5px 0px 5px 23px; float:left;}

.userbar_3_img2 {margin: 5px 20px 5px 0px; float:right;}

.menubar {background:#583a63; margin: 0px 0px 0px 0px; padding-bottom:5px; padding-top:20px;}

ul.menu {
    list-style-type:none;
    margin: 0;
    padding: 0;
    width: 100%;
}

ul.menu li a {
    display: block;
    color: #fff;
    padding: 10px 10px 10px 30px;
    text-decoration: none;
	font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; font-weight:700px; text-decoration:none;
	
}

ul.menu li {
    text-align: left;
    border-bottom: 5px solid #583a63;
}

ul.menu li:hover {
background:url(../images/menu_active.jpg) no-repeat;
background-color:#3e2946;
    color: white;
}


ul.menu li a.active {
background:url(../images/menu_active.jpg) no-repeat;
background-color:#3e2946;
    color: white;
}

.contentarearight { background:#fff; float:right; width:80%;}

/*.contentarearight_panel { background:#fff; border:17px solid #ebebeb;}*/
.contentarearight_panel { background:#fff; border:17px solid #ebebeb;height:565px}

.contentarearight_panel_1 { background:#fff;float:left; margin:20px 20px 20px 200px; }
.contentarearight_panel_2 { background:#fff; float:right; margin:20px 200px 20px 20px;}
.contentarearight_panel_3 { background:#fff; text-align:center; margin-bottom:20px;}


.footer {
background:#fff; margin:0px 0px 0px 0px; height:30px;
}

.footer_top {
margin-top:5px;margin-bottom:-5px;
}

.footer_topleft {
float:left; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; font-weight:400px; text-decoration:none;
}

.footer_topright {
float:right;font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; font-weight:400px; text-decoration:none;
}

.footer_topright a {
font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; font-weight:400px; text-decoration:none;  color:#000; text-decoration:none;
}

.footer_topright a:hover {
font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; font-weight:400px; text-decoration:none;  color:#000; text-decoration:underline;
}

.footer_bottom {
margin-top:-25px;margin-bottom:-5px;
}

.footer_bottomleft {
float:left; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; font-weight:400px; text-decoration:none;
}

.footer_bottomright {
float:right;font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; font-weight:400px; text-decoration:none;
}

.footer_bottomright a {
font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; font-weight:400px; text-decoration:none; color:#000; text-decoration:none;
}
.footer_bottomright a:hover {
font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; font-weight:400px; text-decoration:none; color:#000; text-decoration:underline;
}






.circle_dd { margin: 0px auto  10px auto; width: 68px; height: 68px; -webkit-border-radius: 34px; -moz-border-radius: 34px; border-radius: 34px;  background:#ff1f49; border:2px solid #fff; font-family: 'Roboto', serif; font-size:16px; color:#fff; text-align:center; font-weight:500;
line-height:68px;
}

.circle_dd a { font-family: 'Roboto', serif; font-size:16px; color:#fff; text-align:center; font-weight:500;
line-height:68px; text-decoration:none;
}

.circle_dd a:hover { font-family: 'Roboto', serif; font-size:16px; color:#fff; text-align:center; font-weight:500;
line-height:68px; text-decoration:underline;
}

.circle_rd { margin: 0px auto  10px auto; width: 68px; height: 68px; -webkit-border-radius: 34px; -moz-border-radius: 34px; border-radius: 34px;  background:#50abff; border:2px solid #fff; font-family: 'Roboto', serif; font-size:16px; color:#fff; text-align:center; font-weight:500;
line-height:68px;
}

.circle_rd a { font-family: 'Roboto', serif; font-size:16px; color:#fff; text-align:center; font-weight:500;
line-height:68px; text-decoration:none;
}

.circle_rd a:hover { font-family: 'Roboto', serif; font-size:16px; color:#fff; text-align:center; font-weight:500;
line-height:68px; text-decoration:underline;
}

.circle_fd { margin: 0px auto  10px auto; width: 68px; height: 68px; -webkit-border-radius: 34px; -moz-border-radius: 34px; border-radius: 34px;  background:#30bc26; border:2px solid #fff; font-family: 'Roboto', serif; font-size:16px; color:#fff; text-align:center; font-weight:500;
line-height:68px;
}

.circle_fd a { font-family: 'Roboto', serif; font-size:16px; color:#fff; text-align:center; font-weight:500;
line-height:68px; text-decoration:none;
}

.circle_fd a:hover { font-family: 'Roboto', serif; font-size:16px; color:#fff; text-align:center; font-weight:500;
line-height:68px; text-decoration:underline;
}

.circle_savings { margin: 0px auto  10px auto; width: 68px; height: 68px; -webkit-border-radius: 34px; -moz-border-radius: 34px; border-radius: 34px;  background:#ff981f; border:2px solid #fff; font-family: 'Roboto', serif; font-size:16px; color:#fff; text-align:center; font-weight:500;
line-height:68px; 
}

.circle_savings a { font-family: 'Roboto', serif; font-size:16px; color:#fff; text-align:center; font-weight:500;
line-height:68px; text-decoration:none;
}

.circle_savings a:hover { font-family: 'Roboto', serif; font-size:16px; color:#fff; text-align:center; font-weight:500;
line-height:68px; text-decoration:underline;
}

.searchpanel {
margin:3px; background:#f6f6f6; border:1px solid #af64cc;
}

.searchpanel_left {
float:left; margin: 15px 0px 15px 30px;
}

.searchpanel_middle {
float:left; margin: 15px 0px 15px 60px;
}

.searchpanel_right {
float:right; margin: 15px 30px 15px 0px;
}

.searchpanel_heading { 
font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#000; text-align:left; font-weight:700;
line-height:22px; text-decoration:none; float:left;
}

.searchpanel_searchbar {
float:right;
}

.searchbar {
float:right; background:#fff; border:1px solid #ececec; width:200px; height:22px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#999999; text-align:left; font-weight:400; line-height:22px; text-decoration:none; padding-left:10px; margin: 0px 0px 0px 15px;
}

.search_content {
 background:#fff; min-height:455px;
}

.content_table
    {
        margin: 10px 3px 10px 3px;
		display:table; width:99.35%;
        background-color:#faeeff; border-top:1px solid  #af64cc;  border-left:1px solid  #af64cc;
        /*cellspacing:poor IE support for  this*/
       /* border-collapse:separate;*/
    }

.content_headrow {
display:table-row;
background:#dcb9e9; font-weight:700; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#000; text-align:left; line-height:50px;
}

.content_row
    {
       display:table-row;  font-weight:400; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#000; text-align:left; line-height:50px;
    }

.content_cell1
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:5%; border-bottom:1px solid #af64cc; border-right:1px solid #af64cc; padding-left:10px;
    }
	.content_cell2
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
         width:30.7%;border-bottom:1px solid #af64cc; border-right:1px solid #af64cc; padding-left:10px;
    }
	
	.content_cell3
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
         width:30%;border-bottom:1px solid #af64cc; border-right:1px solid #af64cc; padding-left:10px;
    }
	
	.content_cell4
    {
        float:right;/*fix for  buggy browsers*/
        display:table-column;
         width:30%;border-bottom:1px solid #af64cc; border-right:1px solid #af64cc; padding-left:10px;
    }
	
	
	

.search_content1 {
 background:#fff; min-height:375px;
}


.accdetailpanel_1 {
margin:3px; background:#f6f6f6; border:1px solid #af64cc;
}

.accdetailpanel_1top {
margin:5px 10px 0px 10px; 
}

.accdetailpanel_1bottom {
margin:5px 10px 5px 10px;
}

.accdetailpanel_1left {
float:left; margin: 0px 10px 0px 0px; width:49%;
}

.accdetailpanel_1right {
float:right; margin: 0px 0px 0px 10px; width:49%;
}

.accdetailpanel_heading { 
font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#000; text-align:left; font-weight:700;
line-height:22px; text-decoration:none;
}

.accdetailpanel_content { 
font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#000; text-align:left; font-weight:400;
line-height:22px; text-decoration:none;
}

.accdetailpanel_heading1 { 
font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#000; text-align:right; font-weight:700;
line-height:22px; text-decoration:none;
}

.accdetailpanel_content1 { 
font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#000; text-align:right; font-weight:400;
line-height:22px; text-decoration:none;
}

.content_table1
    {
        margin: 10px 3px 10px 3px;
		display:table; width:99.35%;
        background-color:#faeeff; border-top:1px solid  #af64cc;  border-left:1px solid  #af64cc;
        /*cellspacing:poor IE support for  this*/
       /* border-collapse:separate;*/
    }

.content_headrow1 {
display:table-row;
background:#dcb9e9; font-weight:700; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#000; text-align:center; line-height:50px;
}

.content_row1
    {
       display:table-row;  font-weight:400; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#000; text-align:left; line-height:50px;
    }

.content_cell1_1
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:24%; border-bottom:1px solid #af64cc; border-right:1px solid #af64cc; padding-left:10px;text-align:center;
    }
	.content_cell2_1
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
         width:23.75%;border-bottom:1px solid #af64cc; border-right:1px solid #af64cc; padding-left:10px;text-align:center;
    }
	
	.content_cell3_1
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
         width:24%;border-bottom:1px solid #af64cc; border-right:1px solid #af64cc; padding-left:10px;text-align:center;
    }
	
	.content_cell4_1
    {
        float:right;/*fix for  buggy browsers*/
        display:table-column;
         width:24%;border-bottom:1px solid #af64cc; border-right:1px solid #af64cc; padding-left:10px;text-align:center;
    }


.accdetailpanel_2 {
margin:3px;
}

.accdetailpanel_2_left {
float:left;
background:#684d72; width:20%; padding:10px; 
}

.accdetailpanel_2_heading {
color:#fff; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; font-weight:700; text-align:center; 
}

.sublink {
color:#fff; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; font-weight:400; text-align:right; text-decoration:underline; margin-top:20px;
}
.sublink a{
color:#fff; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; font-weight:400; text-align:right; text-decoration:underline; margin-top:20px;
}

.accdetailpanel_2_right {
float:right;
background:#684d72; width:20%;padding:10px; color:#fff; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; font-weight:700; text-align:center;
}