
/*Font Face*/
@font-face {font-family: marathifont; src: url(Shivaji01.ttf);src: url(Shivaji02.ttf);src: url(Shivaji05.ttf);font-weight: bold;}

.marathifont {font-family:marathifont;}

.marathiFontapply  option{font-family:marathifont;}
