
<div class="wrapper" style="background-color:#222d32;">
    <div class="navbar-fixed-top"><ng-include src="'pages/sidebar/sidebar.html'"></ng-include></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="margin-top:50px;padding-bottom:300px">


        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <section class="content-header">
                                <h1>
                                    Agent's
                                </h1>
                                <ol class="breadcrumb">
                                    <li><a href="#/home"><i class="fa fa-dashboard"></i> Home</a></li>
                                    <li class="active"> All Agent's</li>
                                </ol>
                            </section>
                        </div><!-- /.box-header -->
                        <div class=" box-header col-sm-12 form-group">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label" style="font-size:15pt;padding-top:3px">Search Here :</label>
                                <div class="col-sm-4">
                                    <input type="text" ng-model="search" class="form-control" placeholder="Search Agent Here" />

                                </div>
                                <div class="col-sm-12">
                                    <a class="btn btn-primary btn-sm pull-left" style="margin-right:5px; margin-left:5px" ng-click="refresh()">
                                        <i class="glyphicon glyphicon-refresh"></i>
                                    </a>
                                </div>
                                <div class="col-sm-6">
                                    <!-- <a class="btn btn-primary btn-sm pull-right" style="text-decoration:none;" href="#/createcustomer"><i class="glyphicon glyphicon-plus"></i>&nbsp;Create New Customer</a>-->
                                    <!--<b class="pull-right btn btn-info btn-sm" style="margin-right:5px">Loan </b>
                                    <b class="pull-right btn btn-info btn-sm" style="margin-right:5px">FD</b>
                                    <b class="pull-right btn btn-info btn-sm" style="margin-right:5px">RD</b>
                                    <b class="pull-right btn btn-info btn-sm" style="margin-right:5px">SAVING</b>-->
                                </div>
                            </div>


                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>

                                    <tr>
                                        <th>Agent_Name</th>
                                        <th style="width:100px">Agent ID</th>
                                        <th style="width:100px">External Agent ID</th>
                                        <th style="width:100px">Login-ID</th>
                                        <th>Email</th>
                                        <th>Mobile No.</th>
                                        <th style="width:80px">Transactions</th>

                                    </tr>

                                </thead>
                                <tbody>
                                    <tr ng-show="!agents">
                                        <td colspan="7" style="font-size:15pt;color:green;text-align:center"><b>Loading.....</b></td>

                                    </tr>
                                    <tr ng-show="agents.length == '0'">
                                        <td colspan="7" style="font-size:15pt;color:red;text-align:center">
                                            <b>
                                                Their Is No Transactions Yet
                                            </b>
                                        </td>

                                    </tr>


                                    <tr ng-model="referesh.trx_id" ng-repeat="data in agents | filter:search" ng-hide="agent.role_id==2">
                                        <td ng-class="{marathifont:{{data.bank_id}}===1, capitalize:{{data.bank_id}}!=1}" >{{data.agent_name}}</td>
                                        <!--  <td ng-show="{{data.trx_data}}!=1">{{data.cust_name}}</td>-->
                                        <td>
                                            {{data.agent_id}}
                                        </td>
                                        <td>
                                            {{data.external_agent_id}}
                                        </td>
                                        <td>{{data.login_id  }}</td>

                                        <td>{{data.agent_email_id  }}</td>
                                        <td>{{data.agent_phno_1}}</td>
                                        <td>
                                            <a class="btn btn-success btn-sm" href="#/agentTransaction/{{data.agent_id}}">Transactions&nbsp;&nbsp;&nbsp; <i class="glyphicon glyphicon-arrow-right"></i></a>


                                        </td>
                                    </tr>

                                </tbody>

                            </table>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->

                </div><!-- /.col -->
            </div><!-- /.row -->
        </section>

    </div>

    <ng-include class="navbar-fixed-bottom" src="'bankPages/sidebar/footer.html'"></ng-include>
</div>

 