<div class="wrapper" ng-init="CheckLogin()" ng-controller="statementDetailsController">
 <ng-include src="'pages/sidebar/sidebar.html'"></ng-include>

   

    <div class="content-wrapper">
          
        <!-- Main content -->
        <section class="content">
            <div class="panel">
                <div class="box-body">
                    <div class="col-lg-12 searchpanel">
                        <div class="col-sm-12">
                            <div class="col-sm-1">
                                <span><b>Name:</b></span>
                            </div>
                            <div class="col-sm-5 pull-left marathifont" style="font-size: x-large;">
                                <span><b>{{txtcust_name}}</b></span>
                            </div>
                            <div class="col-sm-2">
                                <span>
                                    <b>Mobile Number:</b>
                                </span>
                            </div>
                            <div class="col-sm-4 pull-left">
                                <span>{{txtcust_phoneno}}</span>
                            </div>

                        </div>
                        <div class="col-sm-12" style="margin-top:20px">
                            <div class="col-sm-2">
                                <span><b>Account Number:</b></span>
                            </div>
                            <div class="col-sm-4 pull-left">
                                <span>{{txtcust_accNo}}</span>
                            </div>
                            <div class="col-sm-2">
                                <span>
                                    <b>Email-Id:</b>
                                </span>
                            </div>
                            <div class="col-sm-4 pull-left">
                                <span>{{txtcust_emailId}}</span>

                            </div>

                        </div>
                    </div>
                    <div class="row  search_content" style="margin-top:50px;">

                        <div class="content">
                            <div class="panel content_table" >
                                <div class="box-body">
                                    <div class="col-lg-12" style="height:450px;overflow:scroll">
                                        <table id="example2" class="table table-bordered table-hover">
                                            <thead>

                                                <!--  <tr style="background-color:skyblue;border-color:skyblue;">-->
                                                <tr class="content_headrow  ">
                                                    <th>Sr.No</th>
                                                    <th style="width:30%">Date</th>
                                                    <th style="width:30%">Debit</th>
                                                    <th style="width:30%">Credit</th>
                                                    <th style="width:30%">Balance</th>
                                                </tr>

                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="data in transDetailsAccTypes | filter:Name | filter:AccountNo | filter:agentname |unique:cust_id">
                                                    <th>{{$index+1}}</th>

                                                    <th class="">{{data.cust_name}}</th>
                                                    <th class="">{{data.external_account_id}}</th>
                                                    <th class="">{{data.agent_name}}</th>
                                                    <td class="">
                                                        <a href="#/acc_detail/{{data.cust_id}}" class="btn btn-success btn-sm pull-left"><i class="glyphicon glyphicon-record"></i>Details</a>
                                                        <!--<a ng-click="customerDetails(ID=data.cust_id)" class="btn btn-success btn-sm pull-left"><i class="glyphicon glyphicon-record"></i>Details</a>-->
                                                    </td>

                                                </tr>

                                            </tbody>

                                        </table>

                                    </div>
                                </div>
                            </div>


                        </div>




                    </div>

                </div>


            </div>

        </section>




    </div>

    <ng-include class="navbar-fixed-bottom" src="'bankPages/sidebar/footer.html'"></ng-include>
</div>