<div class="wrapper" style="height:1000px">
    <ng-include src="'pages/sidebar/sidebar.html'"></ng-include>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                User Profile
            </h1>
            <ol class="breadcrumb">
                <li><a href="#/home"><i class="fa fa-dashboard"></i> Home</a></li>
                <!--<li><a href="#/">Examples</a></li>-->
                <li class="active">User profile</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-3">
                    <!-- Profile Image -->
                    <div class="box box-primary">
                        <div class="box-body box-profile">
                            <div ng-repeat="imgData in imgDetails | filter:{bankIDimg:imgIdDdURL}">
                                <img src={{imgData.imgUrl}} style="width:100%" class="user-image" alt="User Image">
                            </div>
                            <h3 class="profile-username text-center">{{bmName}}</h3>
                            <p class="text-muted text-center">Branch Manager</p>
                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                    <b>Customers</b> <a class="pull-right">
                                    <span ng-show="!customers">Loading...</span>
                                    <span ng-show="customers == 0">Not Yet Customer</span>
                                    {{customers}}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Agent</b> <a class="pull-right">
                                    <span ng-show="!agents">Loading...</span>
                                    <span ng-show="agents==0">Not Yet Customer</span>
                                    {{agents}}</a>
                                </li>
                                 
                            </ul>
                          
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                    <!-- About Me Box -->
                    
                </div><!-- /.col -->
                <div class="col-md-9">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs"> 
                            <li class="active"><a href="home#settings" data-toggle="tab">Update Details</a></li>
                            <li class=" "><a href="home#changePassword" data-toggle="tab">Change Password</a></li>

                        </ul> 
                        
                        <div class="tab-content"> 
                            <div class="active tab-pane" id="settings">
                                <form class="form-horizontal" name="form">
                                    <div ng-repeat="bank in bankDetail">
                                        
                                        <div class="form-group" ng-class="{ 'has-error': form.bankName.$dirty &&( form.bankName.$error.required || form.bankName.$error.pattern || form.bankName.$error.maxlength) }" >
                                            <label for=" inputname" class="col-sm-2 control-label">
                                            Bank Name</label>
                                            <div class="col-sm-10">
                                                <input type="text" name="bankName" ng-model="bank.bank_name" class="form-control" id="bankName" placeholder="Name" ng-maxlength="50" ng-pattern="/^[a-zA-Z ]*$/" />
                                                <span ng-show="form.bankName.$dirty && form.bankName.$error.required" class="help-block">First Name is required</span>
                                          
                                                <span ng-show="form.bankName.$dirty && form.bankName.$error.maxlength" class="help-block">Length should be within 50 characters.</span>
                                                <span ng-show="form.bankName.$dirty &&  form.bankName.$error.pattern" class="help-block"> Name should only contain alphabets</span>

                                            </div>
                                        </div>


                                        <div class="form-group" ng-class="{'has-error': form.permanentAddress.$dirty &&( form.permanentAddress.$error.required || form.permanentAddress.$error.maxlength) }">
                                            <label for="inputName" class="col-sm-2 control-label">Bank Address</label>
                                            <div class="col-sm-10">
                                                <input type="text" name="permanentAddress" ng-model="bank.bank_add" class="form-control" id="inputName" placeholder="Address" ng-maxlength="30">
                                                <span ng-show="form.permanentAddress.$dirty && form.permanentAddress.$error.pattern" class="help-block">Parmanent Address is required </span>
                                                <span ng-show="form.permanentAddress.$dirty && form.permanentAddress.$error.maxlength" class="help-block">Length should be within 30 characters.</span>

                                             </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error': form.mobileNo.$dirty && (form.mobileNo.$error.required || form.mobileNo.$error.pattern || form.mobileNo.$error.minlength || form.mobileNo.$error.maxlength) }">
                                            <label for="inputName" class="col-sm-2 control-label">Bank Number 1</label>
                                            <div class="col-sm-10">
                                                <input type="text" name="mobileNo" ng-model="bank.bank_phno_1" class="form-control" id="inputName" placeholder="Number 1" maxlength="10" ng-pattern="/[0-9]$/">
                                                <span ng-show="form.mobileNo.$dirty && form.mobileNo.$error.required" class="help-block">Mobile No is required</span>
                                                 <span ng-show="form.mobileNo.$dirty && (form.mobileNo.$error.minlength || form.mobileNo.$error.maxlength)" class="help-block">Enter 10 digit only</span> 
                                                <span ng-show="form.mobileNo.$dirty && form.mobileNo.$error.pattern" class="help-block">Enter valid 10 digit mobile no.</span>

                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error': form.mobileNo2.$dirty && (form.mobileNo2.$error.required || form.mobileNo2.$error.pattern || form.mobileNo2.$error.minlength || form.mobileNo2.$error.maxlength) }">
                                            <label for="inputName" class="col-sm-2 control-label">Bank Number 2</label>
                                            <div class="col-sm-10">
                                                <input type="text" name="mobileNo2" ng-model="bank.bank_phno_2" class="form-control" id="inputName" placeholder="Number 2" ng-maxlength="10" ng-minlength="10" ng-pattern="/[0-9]$/">
                                                <span ng-show="form.mobileNo2.$dirty && form.mobileNo2.$error.required" class="help-block">Mobile No is required</span>
                                                <span ng-show="form.mobileNo2.$dirty && (form.mobileNo2.$error.minlength || form.mobileNo2.$error.maxlength)" class="help-block">Enter 10 digit only</span>
                                                <span ng-show="form.mobileNo2.$dirty && form.mobileNo2.$error.pattern" class="help-block">Enter valid 10 digit mobile no.</span>

                                             </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <button ng-click="update(bank_id=bank.bank_id,bank_name=bank.bank_name,bank_phno_1=bank.bank_phno_1,bank_phno_2=bank.bank_phno_2,bank_add=bank.bank_add)" class="btn btn-danger">Update</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div><!-- /.tab-pane -->

                            <div class="  tab-pane" id="changePassword">
                                <form class="form-horizontal" name="form">
                                    <div ng-repeat="bank in bankDetail">
                                        <div class="form-group">
                                            <label for="inputName" class="col-sm-2 control-label">logIn-Id</label>
                                            <div class="col-sm-10">

                                                <input type="text" name="loginId" ng-model="loginId" class="form-control" id="loginId" placeholder="Login Id" ng-maxlength="50"   />
                                                <span ng-show="form.bankName.$dirty && form.bankName.$error.required" class="help-block"> Name is required</span>

                                                <span ng-show="form.bankName.$dirty && form.bankName.$error.maxlength" class="help-block">Length should be within 50 characters.</span>
                                                <span ng-show="form.bankName.$dirty &&  form.bankName.$error.pattern" class="help-block"> Name should only contain alphabets</span>

                                            </div>
                                        </div>
                                        <div class="form-group" >
                                            <label for="inputName" class="col-sm-2 control-label">Old Password</label>
                                            <div class="col-sm-10">

                                                <input type="password" name="oldPassword" ng-model="oldPassword" class="form-control" id="oldPassword" placeholder="Old Password" ng-maxlength="50" />
                                                <span ng-show="form.bankName.$dirty && form.bankName.$error.required" class="help-block"> Name is required</span>

                                                <span ng-show="form.bankName.$dirty && form.bankName.$error.maxlength" class="help-block">Length should be within 50 characters.</span>
                                                <span ng-show="form.bankName.$dirty &&  form.bankName.$error.pattern" class="help-block"> Name should only contain alphabets</span>

                                            </div>
                                        </div>
                                        <div class="form-group" >
                                            <label for=" inputname" class="col-sm-2 control-label">
                                               New Password
                                            </label>
                                            <div class="col-sm-10">
                                                <input type="password" name="newPassword" ng-model="newPassword" class="form-control" id="newPassword" placeholder="New Password" ng-maxlength="50"   />
                                                <span ng-show="form.bankName.$dirty && form.bankName.$error.required" class="help-block">First Name is required</span>

                                                <span ng-show="form.bankName.$dirty && form.bankName.$error.maxlength" class="help-block">Length should be within 50 characters.</span>
                                                <span ng-show="form.bankName.$dirty &&  form.bankName.$error.pattern" class="help-block"> Name should only contain alphabets</span>

                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label for="inputName" class="col-sm-2 control-label">Confirm Password</label>
                                            <div class="col-sm-10">
                                                <input type="password" name="confirmPassword" ng-model="confirmPassword" class="form-control" id="confirmPassword" placeholder="Confirm Password"  ng-maxlength="30">
                                                <span ng-show="form.permanentAddress.$dirty && form.permanentAddress.$error.pattern" class="help-block">Parmanent Address is required </span>
                                                <span ng-show="form.permanentAddress.$dirty && form.permanentAddress.$error.maxlength" class="help-block">Length should be within 30 characters.</span>

                                            </div>
                                        </div>
                                         
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-3" style="padding-bottom:5px">
                                                <button ng-click="updatePassword()" class="btn btn-primary">Update Password</button>
                                            
                                                <button ng-click="clear()" class="btn btn-danger">Clear</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div><!-- /.tab-content -->
                    </div><!-- /.nav-tabs-custom -->

                <!--Change Password-->
                     
                </div><!-- /.col -->
            </div><!-- /.row -->
            
        </section><!-- /.content -->
    </div>
    
    <ng-include class="navbar-fixed-bottom" src="'bankPages/sidebar/footer.html'"></ng-include>
     
    </div><!-- /.content-wrapper -->
