
<div class="wrapper" style="background-color:#222d32;">
    <div class="navbar-fixed-top"><ng-include src="'pages/sidebar/sidebar.html'"></ng-include></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="margin-top:50px;padding-bottom:300px">


        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <section class="content-header">
                                <h1>
                                    Create Customer
                                </h1>
                                <ol class="breadcrumb">
                                    <li><a href="#/home"><i class="fa fa-dashboard"></i> Home</a></li>
                                    <li class="active">Create Customer</li>
                                </ol>
                            </section>
                        </div><!-- /.box-header -->
                        <!-- /.box-header -->
                        <div class="box-body">
                            <form class="form-horizontal panel-body" name="myForm">


                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="inputPassword" class="col-sm-4 control-label">First Name</label>
                                        <div class="col-sm-8">
                                            <input type="text" ng-model="custFName" class="form-control capitalize" name="fname"  placeholder="Enter First Name" ng-pattern="/^[a-zA-Z]*$/">
                                            <span class="help-block" ng-show="myForm.fname.$error.required">

                                                <b class="error">
                                                    First Name Required!
                                                </b>
                                            </span>

                                            <span class="help-block" ng-show="myForm.fname.$error.pattern">

                                                <b class="error">
                                                    Enter Only Characters !
                                                </b>
                                            </span>
                                        </div>

                                    </div>
                                    <div class="col-sm-6">
                                        <label for="inputPassword" class="col-sm-4 control-label">Last Name</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control capitalize" ng-model="custLName" name="lname" placeholder="Enter Last Name" ng-pattern="/^[a-zA-Z]*$/">
                                            <span class="help-block" ng-show="myForm.lname.$error.required">

                                                <b class="error">
                                                    Last Name Required!
                                                </b>
                                            </span>
                                            <span class="help-block" ng-show="myForm.lname.$error.pattern">


                                                <b class="error">
                                                    Enter Only Characters !
                                                </b>

                                            </span>
                                        </div>
                                    </div>
                                </div>






                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="inputPassword" class="col-sm-4 control-label">Local Address</label>
                                        <div class="col-sm-8">
                                            <textarea type="text" class="form-control capitalize" ng-model="custAddress" name="address" minlength="5" placeholder="Enter Address" required></textarea>
                                            <span class="help-block" ng-show="myForm.address.$error.minlength">

                                                <b class="error">
                                                    Customer Local Address is Required !
                                                </b>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="inputPassword" class="col-sm-4 control-label">Permanant Address</label>
                                        <div class="col-sm-8">
                                            <textarea type="text" class="form-control capitalize" ng-model="custAddress2" name="paddress" placeholder="Enter Address" required></textarea>


                                        </div>
                                    </div>
                                </div>



                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="inputPassword" class="col-sm-4 control-label">Mobile Number</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="custMobileNo" placeholder="Enter 10 Digit mobile Number" name="mobileno" ng-pattern="/^[0-9\s]*$/"    ng-minlength='10' maxlength='10' required>


                                            

                                            <span class="help-block" ng-show="myForm.mobileno.$error.minlength">


                                                <b class="error">
                                                    Enter 10 Digit mobile Number !
                                                </b>
                                            </span>
                                            <span class="help-block" ng-show="myForm.mobileno.$error.pattern">


                                                <b class="error">Enter valid 10 digits!
                                                </b>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="inputPassword" class="col-sm-4 control-label">Mobile Number</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="custMobileNo2" placeholder="Enter 10 Digit mobile Number" name="mobileno2" ng-pattern="/^[0-9\s]*$/" ng-minlength='10' maxlength='10' required>

                                            <span class="help-block" ng-show="myForm.mobileno2.$error.minlength">


                                                <b class="error">
                                                    Enter 10 Digit mobile Number !
                                                </b>
                                            </span>


                                            
                                            <span class="help-block" ng-show="myForm.mobileno2.$error.pattern">


                                                <b class="error">
                                                    Enter valid 10 digits!
                                                </b>
                                            </span>
                                        </div>
                                    </div>

                                </div>





                                <div class="form-group">
                                    <label for="inputPassword" class="col-sm-2 control-label">Pan Card No.</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" ng-model="custPanCard" placeholder="Enter 10 Digit PAN Card Number" name="pcno" ng-pattern="/^[0-9\s]*$/" ng-minlength='10' maxlength='10' required>
                                        <span class="help-block" ng-show="myForm.pcno.$error.minlength" style="color:red">

                                            <b class="error">
                                                Enter 10 Digit PAN Card Number!
                                            </b>

                                        </span>

                                        <span class="help-block" ng-show="myForm.pcno.$error.maxlength" style="color:red">


                                            <b class="error">
                                                Please Enter Not More than 10 Digit PAN Card Number!
                                            </b>

                                        </span>
                                    </div>
                                </div>





                                <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && ( form.email.$error.required || form.email.email.$invalid)}">
                                    <label for="inputPassword" class="col-sm-2 control-label">Email.</label>
                                    <div class="col-sm-10" ng-class="{ 'has-error': form.email.$dirty && ( form.email.$error.required || form.email.email.$invalid)}">
                                        <input type="email" name="email" class="form-control" ng-model="custEmailId" placeholder="Enter Email Address ex.john@mBank.com">
                                        <span ng-show="form.email.$dirty && form.email.$error.email" class="help-block">Invalid Mail Id</span>
                                        <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword" class="col-sm-2 control-label">Select Account Type</label>
                                    <div class="col-sm-10">
                                        <select ng-model="custAccType" class="form-control" style="color:black" ng-change="changeacc()">
                                            <option value="">Select Account Type Here</option>
                                            <option value="{{acc.Id}}" ng-repeat="acc in accounts">{{acc.pDetails}}</option>
                                        </select>


                                    </div>

                                   
                                </div>

                                <div class="form-group" ng-show="days">
                                    <label for="inputPassword" class="col-sm-2 control-label"> Number of days</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" ng-model="customerday" placeholder="Enter no.of days" name="DAY" ng-pattern="/^[0-9\s]*$/">
                                        <!--<select ng-model="custDays" class="form-control" style="color:black">
                                            <option value="">Select no.of days Here</option>
                                            <option value="{{day.Id}}" ng-repeat="acc in accounts">{{acc.pType}}</option>
                                        </select>-->

                                    </div>

                                    </div>
                               
                                
                                 <div class="form-group" ng-show="interest">
                                    <label for="inputPassword" class="col-sm-2 control-label"> Interest</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" ng-model="interests" placeholder="Enter interest" name="Interest">
                                        <!--<select ng-model="interest" class="form-control" style="color:black" >
                                            <option value="">Select Interest Here</option>
                                            <option value="{{acc.Id}}" ng-repeat="acc in accounts">{{acc.pType}}</option>
                                        </select>-->


                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword" class="col-sm-2 control-label"> Amount</label>
                                    <div class="col-sm-10">
                                        <input type="number" class="form-control" ng-model="amount" placeholder="0.0" name="Amount" required>
                                        
          


                                    </div>
                                </div>




                                <div class="form-group">
                                    <label for="inputPassword" class="col-sm-2 control-label">Select Agent Here</label>
                                    <div class="col-sm-10">
                                        <select ng-model="agentID" class="form-control" style="color:black">
                                            <option value="">Select Agent Assign To Customer</option>
                                            <option value="{{adata.agent_id}}" ng-repeat="adata in agents">{{adata.agent_name}}</option>

                                        </select>
                                    </div>
                                </div>

                                <div class="text-center" style="margin-top:10px;">
                                    <a class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="createCutomer();">Create Account</a>
                                    <a class="btn btn-danger" ng-click="clearCutomer();">Cancel</a>
                                    <!--<button class="button button-block button-balanced" ng-click="reqCutomer();">Requested Create Customers</button>-->

                                </div>


                            </form>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->

                </div><!-- /.col -->
            </div><!-- /.row -->
        </section>

    </div>

    <ng-include class="navbar-fixed-bottom" src="'bankPages/sidebar/footer.html'"></ng-include>
</div>



